* {
  font-size: 22px;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 600px;
  border-radius: 25px;
}

body {
  font-family: "DejaVu Sans", Helvetica, sans-serif;
  background-color: rgb(44, 66, 94);
  color: white;
}

a {
  color: white;
  margin: 50px auto;
}

h1 {
  font-size: 36px;
  margin: 50px auto;
  text-align: center;
}

.center {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.recipes {
  width: 610px;
  margin: 50px auto;
}

#no-bullet {
  width: 600px;
  border: 5px solid white;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}

#no-bullet li {
  list-style-type: none;
  margin: 10px;
  padding: 25px;
  background-color: rgb(9, 26, 39);
}

ol,
ul {
  border: 5px solid white;
  background-color: rgb(233, 169, 169);
}

ol li,
ul li {
  margin: 15px;
  padding: 15px;
  background-color: rgb(9, 26, 39);
  border-radius: 10px 30px;
}
