* {
  font-size: 22px;
}

img {
  height: auto;
  width: 600px;
}

body {
  font-family: "DejaVu Sans", Helvetica, sans-serif;
  background-color: rgb(44, 66, 94);
  color: white;
}

#no-bullet li {
  list-style-type: none;
  background-color: rgb(9, 26, 39);
}

a {
  color: white;
}

h1 {
  font-size: 36px;
}

.center {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.recipes {
  width: 600px;
  margin: 50px auto;
}
