* {
  font-size: 22px;
}

img {
  height: auto;
  width: 20%;
}

body {
  font-family: "DejaVu Sans", Helvetica, sans-serif;
  background-color: rgb(44, 66, 94);
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 36px;
}

.center {
  text-align: center;
}
